@charset "UTF-8";

/* side bar styling */
:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-addition: #206700db;
  --bg-deletion: #fa3434d6;
  --transition-speed: 600ms;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--bg-primary);
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Adjust the scroll bar w/ sudo element */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* shift the main elements to the right using relative units */
main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed; /* Stick to the viewport */
  background-color: var(--bg-primary); /* Background color */
  transition: width 600ms ease; /* Smooth expand effect */
  overflow: hidden; /* Prevent content overflow */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

/* Targets the last item in the navigation bar */
.nav-item:last-child {
  margin-top: auto; /* Push it all the way to the bottom */
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  visibility: hidden;
  opacity: 0;
  margin-left: 1rem;
  transition: opacity 200ms ease, visibility 200ms ease;
}

/* Give the svg graphic a minimum width */
.nav-link svg {
  min-width: 2rem;
  max-width: 4rem;
  margin: 0 1.5rem;
}

/* Have navigate bar become animated when hovered over*/
.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  visibility: visible;
  opacity: 1;
}

.fa-primary {
  color: #76a3d6;
}

.fa-secondary {
  color: #76a3d6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Specifically target the svg graphic to rotate in certain position*/
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

/* Target the svg to rotate 180 when hovered over */
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Button styling */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease;
}

.btn-primary {
  color: var(--text-secondary);
  cursor: pointer; /* Pointer cursor on hover */
}

.btn-addition {
  background-color: var(--bg-addition);
  min-width: 3rem;
  border-radius: 12px;
  padding: 12px 28px;
  color: var(--text-secondary);
}

.btn-addition:hover {
  filter:brightness(110%)
}

.btn-addition svg {
  margin-right: 0.5rem;
}

/* Hover effect to darken the button */
.btn:active {
  filter: brightness(85%); /* Reduce brightness to darken */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.btn-close:hover,
.btn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.inventory-form {
  display: grid;
  gap: 10px;
}

.form-group {
  display: grid;
  gap: 5px;
}

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitBtn {
  color: black;
}

/* Table */
.container {
  margin-left: 5rem;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 98vw;
  margin: 20px auto;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--bg-primary);
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--text-primary);
}

th {
  background-color: var(--bg-secondary);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5)
}

/* Small screens 
 * Media query lets you target certain screen sizes and orientations
*/
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw; /* Full width */
    height: 5rem; /* Height for the horizontal layout */
    bottom: 0; /* Align to the bottom */
    transition: none;
  }

  .navbar:hover {
    width: 100vw;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 10rem;
  }
}